/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Global styles */

* {
  box-sizing: border-box;
}

body {
  font-size: 50%;
  font-family: 'Montserrat', sans-serif;
  color: #040404;
  font-weight: 400;
}

h1 {
  font-size: 6em;
  line-height: 45px;
  letter-spacing: 25;
  font-weight: 700;
  color: #000000;
  margin: .4em 0;
}

h2 {
  font-size: 10em;
  line-height: 56px;
  letter-spacing: 25;
  font-weight: 700;
  color: #000000;
  margin: .5em 0;
}

h3 {
  font-size: 4.8em;
  line-height: 30px;
  letter-spacing: 25;
  color: #000000;
  margin: .6em 0;
}

h4 {
  font-size: 3em;
  line-height: 20px;
  letter-spacing: 25;
  color: #000000;
}

h5 {
  font-size: 2.4em;
  line-height: 30px;
  letter-spacing: 25;
  font-weight: 300;
  color: #000000;
}

p {
  font-size: 1.8em;
  line-height: 30px;
  letter-spacing: 50;
  font-weight: 300;
}

a {
  font-size: 2.2em;
  line-height: 30px;
  letter-spacing: 25;
  text-decoration: none;
  transition: all .5s;
}

a:link,
a:visited {
  color: #a55b61;
  transition: all .5;
}

a:hover {
  color: #95373f;
}

li {
  font-size: 14px;
  font-weight: 300;
}

i {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

strong {
  font-weight: 700;
}
.container {
  max-width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: auto;
}

.btn,
.btn:link,
.btn:visited {
  background-color: #a55b61;
  color: #fff;
  font-weight: 500;
  width: 170px;
  display: block;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* ================= HEADER ================== */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow-y: hidden;
  transition: 0.5s;
  background-color: #fff;
}

.nav a {
  font-size: 24px;
  display: block;
  padding: 15px 0;
}

.header {
  position: fixed;
  width: 100%;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, .8);
}

.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 100px;
}

.nav ul li {
  transition: 0.3s;
  margin-bottom: 30px;
}

.nav .close {
  position: absolute;
  top: 50px;
  right: 30px;
  transition: 0.5s;
}

.nav .close span {
  width: 30px;
  height: 3px;
  background-color: #a55b61;
  display: block;
  transform: rotate(45deg);
}

.nav .close span:nth-child(2) {
  transform: rotate(-45deg);
  top: -2px;
  position: relative;
}

.burger {
  display: inline-block;
  transition: 0.3s;
}

.burger span {
  width: 30px;
  height: 3px;
  background-color: #a55b61;
  display: block;
  margin-top: 7px;
}

.logo {
  display: inline-block;
  width: 100px;
}

.height {
  height: 100%;
}

section {
  overflow: hidden;
}

/* ========= HERO ============== */

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, .9)), url("../img/hero.png");
}

.hero .content {
  padding-top: 160px;
  padding-bottom: 60px;
}

.hero .border {
  border: 1px solid #000;
}

.hero .inner {
  margin: 40px 30px 40px 20px;
}

.hero .inner span {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 20px;
  display: block;
}

.hero .inner span:after {
  content: "";
  width: 30px;
  height: 1px;
  display: inline-block;
  background: #000;
  vertical-align: middle;
  margin-left: 6px;
}
/* ============ END HERO  ============= */

/* ============ CAKE ============= */

header h5 {
  border-left: 1px solid #dfdce3;
  padding-left: 20px;
}

.cake span {
  font-size: 3em;
  font-weight: 100;
  position: absolute;
  right: 20px;
  top: 20px;
}

.cake article {
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdce3;
}

.cake article:last-child {
  border-bottom: none;
}
.cake .section-header,
.cake .section-header:after  {
  background: transparent;
}


.cake article h3 {
  display: inline-block;
  margin: 15px 0 .5em 0;
  padding-right: 80px;
}

.cake img {
  padding-top: 30px;
}

.cake .inner-text {
  position: relative;
}

/* ============ END CAKE  ============= */

/* ============ COFFEE ============= */


.section-header p{
  font-size: 2.4em;
  font-weight: 300;
  max-width: 750px;
  border-left: 2px solid #dfdce3;
  padding-left: 15px;
  margin-left: 15px;
}

.coffee .fade p {
  margin-bottom: 25px;
}

.coffee .btn {
  font-size: 18px;
  margin-top: 15px;
}

.section-header {
  background-color: #fbc56a;
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
  z-index: -1;
}

.section-header:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fbc56a ;
  display: block;
  position: absolute;
  left: -100%;
  top: 0;
}

.section-header h2 {
  display: inline-block;
  margin-bottom: .1em;
}

.coffee .img {
  position: absolute;
 top: 0;
 left: 0;
 width: 120px;
}

.coffee h3 {
  margin-left: 150px;
  margin-bottom: 100px;
} 

.coffee .inner-text >div {
  border-left: 1px solid #dfdce3;
  padding-left: 25px;
}

.coffee .inner-text .btn {
  margin-left: 25px;
  margin-top: 30px;
}

.coffee .inner {
  padding-bottom: 25px;
}
/* ============ END COFFEE  ============= */

/* ============  EVENTS  ============= */

.events, .form-reservation, .footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.events .inner-text h3 span {
  font-weight: 200;
}

.events .inner-text h3 {
  line-height: 32px;
}

.events .inner-text .data {
  font-size: 1.8em;
  font-style: italic;
}

.events .inner-text h4 {
  margin-bottom: .3em;
}

.events .inner-text >div {
  padding-left: 20px;
}
/* ============ END EVENTS  ============= */

/* ============  PLACE  ============= */

.our-place header,
.our-place .center {
  background-color: #e8e8e8;
}

.our-place header:after{
  background-color: #e8e8e8;
}

/* ============ END PLACE  ============= */

/* ============  RESERVATION  ============= */

.form-reservation h3 span {
  font-weight: 200;
}

.form-reservation h3 {
  line-height: 32px;
}

/* ============ END RESERVATION  ============= */

/* ============  FORM  ============= */

label,textarea {
  display: block;
}

input,textarea {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  padding: 9px 0;
  margin-bottom: 23px;
  color: black;
  border: none;
  border-bottom: 1px solid #e8e8e8;
}

textarea {
  border: 1px solid #e8e8e8;
}

input:focus,textarea:focus {
  border-bottom: 2px solid #fbc56a;
  border-top: none;
  border-left: none;
  border-right: none;
}
/* ============  END FORM  ============= */
.center .slick-slide { 
  border: 15px solid white;
}

.center .slick-center {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);    
}

.center .slick-list { 
  padding:45px 60px !important;
  margin-left:30px !important;
}

.center .slick-dots {
  bottom: -16px;
  background: #e8e8e8;
}

/* ================ FOOTER ============= */

.footer {
  background-color: #373737;
}

.footer * {
  color: #fff;
}

.footer li {
  line-height: 22px;
}

.footer li a {
  font-size: 20px;
}

.footer li a:hover {
  color: #fbc56a;
}

@media only screen and (min-width: 768px) {

  h3 {
    line-height: 60px;
  }
  .hero .border {
    max-width: 50%;
    margin-left: auto;
    margin-right: 40px;
  }

   /* ============ CAKE 768px ============= */

  .cake header {
    padding-left: 100px;
  }

  .cake h5 {
    max-width: 75%;
  }

  .cake .inner-text {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* ============ COFFEE 768px ============= */

  .coffee .slick-initialized .slick-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
  } 

  .coffee .inner-text {
    width: 40%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .coffee .img {
    position: initial;
    width: auto;
  }
  .coffee .slick-slide h3{
    margin-left: 0;
    margin-bottom: 1em;
  }

.coffee .inner {
  padding-bottom: 25px;
}

 /* ============ EVENT 768px ============= */

 .events {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }

 .events .inner-text h3 {
   line-height: 42px;
 }

 .events .inner-text {
   width: 40%;
 }

 .events .event-img {
   width: 60%;
 }


.events  .event-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.events .event-img {
  width: 60%;
  height: 0;
  padding-bottom: 30%;
  overflow: hidden;
  position: relative;
  margin-left: 97px;
}

  /* ============= resevation 768px============= */
  .form-reservation {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-reservation h3 span {
    line-height: 42px;
  }

  label {
    width: 47%;
  }

  label:nth-of-type(2),
  label:nth-of-type(4) {
    margin-right: 34px;
  }
  label.name {
    width: 100%;
  }

  label {
    display: inline-block;
  }
 input{
  font-size: 18px;
  }

.section-header {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 80%;
}

/* =============== footer 768px ===================  */
.footer ul {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.footer li {
  line-height: 24px;
}

.footer ul li:first-child{
  margin-right: 80px;
}
.footer ul li:last-child {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.footer ul li:last-child a {
  display: block;
  font-size: 40px;
  margin: 10px;
}
}
@media only screen and (min-width: 1024px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }

  .cake article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    padding-bottom: 0;
  }

  .cake article h3 {
    margin-bottom: 0;
  }

  .cake header {
    margin-bottom: 55px;
  }

  .cake article:nth-of-type(1) .cake-image,
  .cake article:nth-of-type(4) .cake-image {
    width: 60%;
    padding-bottom: 40%;
    padding-top: 0;
    position: relative;
    overflow: hidden;
  }

  .cake article:nth-of-type(1) .cake-image img,
  .cake article:nth-of-type(4) .cake-image img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;

  }

  .cake article:nth-of-type(2) .cake-image,
  .cake article:nth-of-type(3) .cake-image {
    width: 50%;
    padding-bottom: 30%;
    padding-top: 0;
    position: relative;
    overflow: hidden;
  }

  .cake article:nth-of-type(2) .cake-image img,
  .cake article:nth-of-type(3) .cake-image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 0;
  }

  .cake article:nth-of-type(2) .cake-image {
    position: relative;
    bottom: 43px;
    border: 15px solid #fff;
  }

  .cake article:nth-of-type(4) .cake-image {
    position: relative;
    bottom: 60px;
    border: 15px solid #fff;
  }

  .cake img {
    width: 100%;
    height: 100%;
    padding-top: 0;
  }

  .cake .inner-text {
    max-width: 450px;
    padding: 15px 15px 15px 25px;
  }

  .cake span {
    top: 32px;
  }

  .cake .inner-text *:not(h3) {
    padding-left: 20px;
  }

  .events, .form-reservation, .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }


 
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 62.5%;
  }

  h1,
  h2 {
    line-height: 70px;
  }

  p {
    font-size: 18px;
  }

  i {
    font-size: 16px;
  }

  a.btn,
  .btn:link,
  .btn:visited {
    width: 230px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hero {
    background-image: url("../img/hero.png");
  }

  .hero .container {
    padding-top: 0;
  }

  .hero .content {
    padding-top: 70px;
  }

  .header {
    position: initial;
  }

  .nav {
    background: transparent;
    display: block;
    position: initial;
    height: 100%;
  }

  .logo {
    width: auto;
  }

  .header .container {
    flex-direction: column;
    background: transparent;
  }

  .nav ul {
    flex-direction: row;
    padding-top: 0;
  }

  .nav ul li {
    margin: 0 10px;
  }

  nav .close,
  .burger {
    display: none;
  }

  .hero .inner {
    position: relative;
    left: -125px;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hero .inner h1 {
    margin-top: 0;
  }

  .hero .inner span {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1300px) {

  .cake article:nth-of-type(1) .cake-image,
  .cake article:nth-of-type(4) .cake-image {

    padding-bottom: 35%;

  }

  .cake article:nth-of-type(1) .cake-image img,
  .cake article:nth-of-type(4) .cake-image img {
    width: 100%;
    height: auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

.unstyle-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.active {
  font-weight: 700;
  color: #95373f;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
